{{ define "header" }}

  {{ partial "header" . }}

{{ end }}

{{ define "main" }}
  <main>
    {{ range first 10 .Data.Pages }}
    {{ if eq .Type "blog" }}
      <article class="blog-card">
        <div class="blog-meta">{{ .Params.author }} | {{ .ReadingTime }} min read</div>
        <a href="{{ .Permalink }}">
          <h3 class="blog-title">{{ .Title }}</h3>
          <div class="blog-desc">{{ .Summary }}</div>
        </a>
        <div class="blog-meta">{{ .Params.categories }}</div>
      </article>
    {{ end }}
    {{ end }}
  </main>  
{{ end }}
