<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
      {{ block "title" . }}
        {{/* individual page title – site title */}}
        {{ with .Title }}{{ . }} – {{ end }}{{ .Site.Title }}
      {{ end }}
    </title>

    <!-- Tachyons v4.8.1 with normalize.css -->
    <!-- <link rel="stylesheet" href="/css/tachyons.min.css"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/bundle.css">
    
    <!-- Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <!-- Netlify Identity widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107711140-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-107711140-2');
    </script>
  </head>
  <body>
    <div class="site-container">
      {{ block "header" . }}
      
      {{ end }}

      {{ block "main" . }}
      
      {{ end }}

      {{ partial "footer" . }}

      {{ partial "scripts" . }}
    </div>

    <!-- Redirect content editors logged in through Netlify Identity back to Netlify CMS -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
