article
  display: grid
  grid-template-columns: 3fr 1fr 16px minmax(0px, 760px) 16px 1fr 3fr

  > *
    grid-column: 4

  > blockquote 
    grid-column: 2 / 7
    margin: 1rem 0
    font: 500 italic 2rem/1.6 'Segoe UI', serif
    color: #a0a0a0
    text-align: center

  > .img-full
    grid-column: 1 / -1
    margin: 1rem 0

  > .img-semi
    grid-column: 2 / -2
    margin: 1rem 0

  p
    font: calc(18px + 0.15vw)/1.5 Fenix, serif
    color: #333

    &:last-of-type
      margin-bottom: 4rem

  img
    width: 100%
    
  h3
    font-size: 2rem
    margin-bottom: 0rem

  h4
    font-size: 1.5rem
    margin-bottom: 0rem

.card
  margin: 4rem 0

.card-title
  margin-top: 0.5rem
  font: 700 'Playfair Display', serif

.card-meta
  margin: 0
  font: 500 1rem 'Segoe UI'
  text-transform: uppercase
  color: #333

.card-desc
  font: calc(18px + 0.15vw)/1.5 Fenix, serif
  color: #333
  margin: 0.5rem 0 1rem

.card-category
  padding: 0.25rem 0.5rem
  background-color: #e3e3e3
  border-radius: 2px
  transition: 150ms ease

  &:hover
    background-color: #d3d3d3

.blog-header
  font-size: 2.5rem
  margin: 0.5rem 0
  text-align: center
  line-height: 1.5

.blog-meta
  margin: 0
  font: 500 1.25rem 'Segoe UI'
  color: #333
  text-transform: uppercase
  text-align: center

.metadata
  margin: 3rem 0 2rem
