footer
  background-color: #e9e9e9

.footer-grid
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  text-align: center

.footer-col
  width: 100%
  margin-top: 1.5rem
  @media large
    flex: 1
    margin: 0 2rem 0
    text-align: left

.footer-company
  flex: 2
  margin-right: 0
  @media large
    margin-right: 2rem
    text-align: left

.footer-col-header
  margin-bottom: 1rem
  text-transform: uppercase
