nav
  font-weight: 600

.header
  display: flex
  justify-content: flex-end
  padding: 1.5rem 1rem

.nav-col-logo
  flex: 1

.nav-list
  display: inline-block
  margin: 0 2rem 0 0

  &:last-of-type
    margin-right: 0

.nav-link
  padding: 0.5em
