html
  box-sizing: border-box
  font-size: 16px

*, *:before, *:after
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
  margin: 0 0 1rem 0

ul
  margin: 0
  padding: 0
  list-style-type: none

li
  margin-bottom: 0.5rem

a
  text-decoration: none
  color: #444

footer
  background-color: #e9e9e9

.container
  margin: 0 auto
  padding: 3rem 1rem
  max-width: 1200px

nav a
  font-weight: 600

.header
  display: flex
  justify-content: flex-end
  padding: 1.5rem 1rem

.nav-col-logo
  flex: 1

.nav-list
  display: inline-block
  margin: 0 2rem 0 0

.nav-list:last-of-type
  margin-right: 0

.nav-link
  padding: 0.5em

.logo-icon
  height: 2.5rem
  width: auto

.header-bg,
.cta-bg
  background-color: #a3ffbb

.cta
  display: flex

.cta-header
  margin: 0 auto
  text-align: center
  font-size: 4rem

.li-perk
  position: relative
  padding-left: 2.5rem
  margin-bottom: 1rem

.li-perk:before
  content: ''
  height: 24px
  width: 24px
  top: 0
  left: 0
  position: absolute
  background: url(/img/checked.svg)

.features-bg
  background-color: #bfdeff

.features
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: -1rem

.features-col
  margin: 0 0 2rem 0
  space = 5rem
  width: 100%
  @media medium
    width: 'calc(%s% - %s)' % (50 (space / 2))
  @media large
    width: 'calc(%s% - %s)' % (33 (space / 2))

.caption
  color: #666
  line-height: 1.5

.lead-bg
  background-color: #fff1cc

.lead
  display: flex
  flex-wrap: wrap

.lead-col
  padding-right: 0
  @media large
    flex: 1
    padding-right: 5rem

.lead-form
  justify-content: flex-end
  padding-top: 2.5rem
  box-sizing: border-box

.form-field
  width: 100%
  margin-bottom: 0.5rem
  padding: 1rem 1rem
  border: 1px solid #ffb900
  font-size: 1rem
  @media large
    margin-left: 0.5rem
    width: 280px

.form-btn
  width: 100%
  margin-bottom: 0.5rem
  padding: 1rem 3rem
  border: 1px solid #ffb900
  background-color: #ffb900
  font-size: 1rem
  cursor: pointer
  transition: 250ms ease-in-out
  @media large 
    margin-left: 0.5rem
    width: auto
    
.form-btn:hover
  background-color: #ffa500

.footer-grid
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  text-align: center

.footer-col
  width: 100%
  margin-top: 1.5rem
  @media large
    flex: 1
    margin-right: 2rem
    text-align: left

.footer-company
  flex: 2
  margin-right: 0
  @media large
    margin-right: 2rem
    text-align: left

.footer-col-header
  margin-bottom: 1rem
  text-transform: uppercase
