<footer>
  <div class="container">
    <div class="footer-grid">
      <div class="footer-company">
        <img class="logo-icon" src="/img/sparktrail.png" alt="Sparktrail logo detailed in footer">
        <p>&copy; 2018 Sparktrail. All rights reserved.</p>
      </div>
      <div class="footer-col">
        <h3 class="footer-col-header">Platform</h3>
        <ul>
          <li><a href="#">Events</a></li>
          <li><a href="#">Learning Resources</a></li>
          <li><a href="#">Open Source</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3 class="footer-col-header">Community</h3>
        <ul>
          <li><a href="https://github.com/sparktrail" target="_blank" rel="noopener">GitHub</a></li>
          <li><a href="https://discord.gg/anVpm5e" target="_blank" rel="noopener">Discord</a></li>
          <li><a href="#" target="_blank" rel="noopener">Facebook</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3 class="footer-col-header">Company</h3>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="mailto:hello@sparktrail.org">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
